/* h2 {
    background-color: #3f525c;
    padding: 1rem;
    font-size: 3rem;
    text-decoration: underline;
    display: inline-block;
    color: #fff;
    text-align: center;
    width: 100%;
    min-width: 70px;
    margin: .5rem auto;
    box-sizing: border-box;
  }
.image-container {
  display: flex;
  justify-content: center;
} */