<html>
<head>
    <style>
        body {
      background-color: rgba(143, 105, 180);
    }
    </style>
</head>
<body>
  <div><h2>Pick a topic</h2></div>
    <div class="image-container">
      <img [src]="topicPageUrl">
      <button class="brexitButton" routerLink="brexit">Brexit</button>
      <button class="climateButton" routerLink="topicpage">Climate</button>
      <button class="covidButton" routerLink="topicpage">Covid</button>
      <button class="politicsButton" routerLink="topicpage">Politics</button>
      <button class="educationButton" routerLink="education">Education</button>
      <button class="worldButton" routerLink="topicpage">World</button>
      <button class="healthButton" routerLink="topicpage">Health</button>
      <button class="buisnessButton" routerLink="topicpage">business</button>
      <button class="randomButton" routerLink="topicpage">Random</button>
      <router-outlet></router-outlet>
    </div>
</body>
</html>