<div class="listcontainer1">
  <h2>todo</h2>

  <div
    cdkDropList
    #todoList="cdkDropList"
    [cdkDropListData]="todo"
    [cdkDropListConnectedTo]="[doneList, nextList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let item of todo" cdkDrag>
      <img [src]="item" width="250" height="auto">
    </div>
  </div>
</div>


<div class="listcontainer2">
  <h2>done</h2>
  <div
    cdkDropList
    #doneList="cdkDropList"
    [cdkDropListData]="done"
    [cdkDropListConnectedTo]="[nextList, todoList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let item of done" cdkDrag>
      <img [src]="item" width="250" height="auto">
    </div>
  </div>
</div>
<h2>next</h2>
<div class="listcontainer3">
  <div
    cdkDropList
    #nextList="cdkDropList"
    [cdkDropListData]="next"
    [cdkDropListConnectedTo]="[todoList, doneList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let item of next" cdkDrag>
      <img [src]="item" width="250" height="auto">
    </div>
  </div>
</div>
