<!-- <html>
<style>
body {
  background-color: rgba(143,105,180);
}
</style>
<body>
    <div><h2>Know The News</h2></div>
    <div><h1>Can you match tweets to their tabloids?</h1></div>
<div class="image-container">
    <img [src] = "homePageUrl" style="height:100%;">
</div>
</body>
</html> -->
<html>
  
<head>
  <style>
    body {
      background-color: rgba(143, 105, 180);
    }
  </style>
</head>
<body>
  <div class="image-container">
    <img [src]="homePageUrl">
    <h2 class="title">
      Know The News
    </h2>
    <h1 class="first-txt">
      Can you match tweets to their tabloids?
    </h1>
    <button class="startButton" onclick="location.href = '/topicpage'" type="button"><span>Start</span></button>
  </div>
</body>

</html>